.addOptionError {
  color: $white;
  font-style: italic;
  padding: 0 $m-size;
  margin-top: $m-size;
}

.addOptionForm {
  display: flex;
  flex-direction: column;
  padding: $m-size;
}

.addOptionForm__input {
  background-color: lighten($off-white, 7);
  border: none;
  outline: none;
  border-bottom: 0.3rem solid $off-white;
  border-right: 0.3rem solid $off-white;
  margin: 0 0 $s-size 0;
  flex-grow: 1;
  padding: $s-size;
  color: $burnt-salmon;
}

@media (min-width: $desktop-breakpoint) {
  .addOptionForm {
    flex-direction: row;
  }
  .addOptionForm__input {
    margin: 0 $s-size 0 0;
  }
}
