.optionList {
  display: flex;
  justify-content: space-between;
  padding: $l-size $m-size;
  border-bottom: 1px solid lighten($dark-blue, 5);
  max-width: 60rem;
}

.optionList__item {
  max-width: 60rem;
  color: #eeeeee;
  font-weight: 500;
  font-size: 2rem;
  margin: 0;
  max-width: 60rem;
  word-break: break-all;
}
