//COLORS
$white: #fbfbf8;
$off-white: #ebd2b9;
$salmon: #e8755e;
$burnt-salmon: #cda28f;
$blue: #6c9c9a;
$dark-blue: #074b52;

//SPACING
$s-size: 0.8rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
